<div style="display: table; width: 100%; background: #F0F0F0; font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;">
	<div style="display: table-row;">
	<div style="padding: 5px; display: table-cell">
				
		<table style="width: 100%; min-width: 100%; max-width: 100%; border: 2px #DB931F solid;" cellpadding="0" cellspacing="0" border="0">
			<thead style="background: #DB931F; color: #fff;">
				<tr><td style="padding: 5px 10px;">Diary</td></tr>
			</thead>
			<tbody style="background: #fff; font-family: 'Noteworthy',Times,serif;">
				<tr><td style="padding: 10px;">Daily notes...</td></tr>
			</tbody>
		</table>

	</div>
	</div>
	<div style="display: table-row;">
	<div style="padding: 5px; display: table-cell">

		<table style="width: 100%; min-width: 100%; max-width: 100%; border: 2px #3A71B0 solid;" cellpadding="0" cellspacing="0" border="0">
			<thead style="background: #3A71B0; color: #fff;">
				<tr>
					<td style="padding: 5px 10px;">Todos</td>
					<td style="padding: 5px 10px;">Mappiness</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="padding: 10px; background: #fff; border-right: 1px #3A71B0 solid;">todo</td>
					<td style="padding: 10px; background: #fff; border-left: 1px #3A71B0 solid;">
						{{#each mappiness}}<div><strong>{{name}}</strong> {{value}}</div>{{/each}}
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	</div>
	<div style="display: table-row;">
	<div style="padding: 5px 5px 0; display: table-cell">

		<table style="width: 100%; min-width: 100%; max-width: 100%; border: 2px #8B572A solid;" cellpadding="0" cellspacing="0" border="0">
			<thead style="background: #8B572A; color: #fff;">
				<tr>
					<td style="padding: 5px 10px;">Stats</td>
					<td style="padding: 5px 10px;">Place</td>
					<td style="padding: 5px 10px;">Map</td>
				</tr>
			</thead>
			<tbody style="background: #fff;">
				<tr>
					<td style="padding: 10px; border-bottom: 1px #8B572A solid; border-right: 1px #8B572A solid;">stats</td>
					<td style="padding: 10px; border-bottom: 1px #8B572A solid; border-right: 1px #8B572A solid; border-left: 1px #8B572A solid;">place</td>
					<td style="padding: 10px; border-bottom: 1px #8B572A solid; border-left: 1px #8B572A solid;">map</td>
				</tr>
				<tr>
					<td style="padding: 10px; border-bottom: 1px #8B572A solid; border-right: 1px #8B572A solid;">stats</td>
					<td style="padding: 10px; border-bottom: 1px #8B572A solid; border-right: 1px #8B572A solid; border-left: 1px #8B572A solid;">place</td>
					<td style="padding: 10px; border-bottom: 1px #8B572A solid; border-left: 1px #8B572A solid;">map</td>
				</tr>
				<tr>
					<td style="padding: 10px; border-bottom: 1px #8B572A solid; border-right: 1px #8B572A solid;">stats</td>
					<td style="padding: 10px; border-bottom: 1px #8B572A solid; border-right: 1px #8B572A solid; border-left: 1px #8B572A solid;">place</td>
					<td style="padding: 10px; border-bottom: 1px #8B572A solid; border-left: 1px #8B572A solid;">map</td>
				</tr>
			</tbody>
		</table>

	</div>
	</div>
	<div style="display: table-row;">
	<div style="padding: 0 5px 5px; display: table-cell">

		<table style="width: 100%; min-width: 100%; max-width: 100%; border: 2px #8B572A solid;" cellpadding="0" cellspacing="0" border="0">
			<tbody style="background: #fff;">
				<tr>
					<td style="padding: 10px; border-right: 1px #8B572A solid;">stats</td>
					<td style="padding: 10px; border-left: 1px #8B572A solid;">map</td>
				</tr>
			</tbody>
		</table>

	</div>
	</div>
	<div style="display: table-row;">
	<div style="padding: 5px; display: table-cell">

		<table style="width: 100%; min-width: 100%; max-width: 100%; border: 2px #386604 solid;" cellpadding="0" cellspacing="0" border="0">
			<thead style="background: #386604; color: #fff;">
				<tr>
					<td style="padding: 5px 10px;">Photos</td>
				</tr>
			</thead>
			<tbody style="background: #fff;">
				<tr>
					<td style="padding: 10px 10px 7px;">&nbsp;</td>
				</tr>
			</tbody>
		</table>

	</div>
	</div>
	<div style="display: table-row;">
	<div style="padding: 5px; display: table-cell">

		<table style="width: 100%; min-width: 100%; max-width: 100%; border: 2px #480980 solid;" cellpadding="0" cellspacing="0" border="0">
			<thead style="background: #480980; color: #fff;">
				<tr>
					<td style="padding: 5px 10px;">Memories</td>
				</tr>
			</thead>
			<tbody style="background: #fff;">
				<tr>
					<td style="padding: 10px;">
						{{#each memories}}<div><a href="{{link}}">{{title}}</a></div>{{/each}}
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	</div>
</div>